GYM_DATASOURCE_URL=jdbc:mysql://mysql:3306/gym_operation?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
GYM_DATASOURCE_USERNAME=gym
GYM_DATASOURCE_PASSWORD=gym
GYM_REDIS_HOST=redis
GYM_REDIS_PORT=6379
GYM_RABBITMQ_HOST=rabbitmq
GYM_RABBITMQ_PORT=5672
GYM_RABBITMQ_USERNAME=gym
GYM_RABBITMQ_PASSWORD=gym
GYM_NACOS_SERVER=nacos:8848
JWT_SECRET=dev-only-secret-please-replace-with-env-value-32
PAYMENT_MOCK_ENABLED=true
